<form action="/users/edit/{{obj.id}}" method="POST" enctype="multipart/form-data">
  <fieldset>
    <legend>Учетная запись пользователя</legend>
    <div>
       {{#if obj.imgName}}
        <img src="/img/{{obj.imgName}}" alt="{{name}}" />
      {{else}}
        <img src="/img/no-image-icon.png" />
      {{/if}}
    </div>
    <fieldset>
      <legend>персональные данные</legend>
      <div class="input-group">
        <label for="user_name">Укажите имя пользователя:</label>
        <input
          type="text"
          id="user_name"
          name="name"
          value="{{obj.name}}"
          required
        />
        <label for="city">Откуда вы:</label>
        <input type="text" name="city" id="city" value="{{obj.city}}" />
        <label for="user_photo">Загрузить новое фото:</label>
        <input type="file" name="img_file" id="user_photo" />
      </div>
    </fieldset>
    <fieldset>
      <legend>немного о себе</legend>
      <textarea
        placeholder="Обновить информацию о себе"
        name="description"
      ></textarea>
      </fieldset>
     <fieldset>
       <legend>Ваши увлечения</legend>
      <textarea
        placeholder="Обновить информацию о своих увлечениях и хобби"
        name="hobby"
      ></textarea>
     </fieldset>
    </fieldset>
   <div class="form-buttons">
     <input type="submit" class="form-button" />
    <input type="reset" class="form-button" />
   </div>
  </fieldset>
</form>